# 29/04/2024 19:27 UTC+1
# dragonero2704

# node modules
node_modules
.data
# packages
package-lock.json
package.json

# Excluded directories
logs
ignore
test

# excluded file types
*.zip
*.jpg
*.png

# Excluded files
authorize.js
invite_link.txt
*.env

